body
	box-sizing: border-box
	margin: 0

*, *::after, *::before
	box-sizing: inherit

img
	width: 100%
	display: block

p, h1, h2, h3, h4
	margin: 0

.white
	color: white

h1
	+responsive-font(headline)
h2
	+responsive-font(title)
// h2.white
//     +responsive-font(title-white)
h3
	+responsive-font(subtitle)
p.description
	+responsive-font(description)
p.lead
	+responsive-font(lead)
// p.copy
//     +responsive-font(copy)
.copy-white
	+responsive-font(copy-white)
p
	+responsive-font(copy)
a
	+responsive-font(link)

	&:hover
		border-bottom: 2px solid $font-color-secondary
	// &.nohover
	// 	border-bottom: 0 none    