---
title: rl
description: description
---
<div class="canvas">

	<h1>I'm an Interaction Designer and UX Consultant.<br>I love my Job because it’s about People</h1>

	<p class="intro">Introduction</p>

</div>

<div class="project-teasers-wrapper">

	<a id="localina-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project Localina</h2>
			<p class="white">Description</p>
		</div>
	</a>

	<a id="abb-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project ABB</h2>
			<p class="white">Description</p>
		</div>
	</a>

	<a id="various-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project Various</h2>
			<p class="white">Description</p>
		</div>
	</a>

</div>
