---
title: rl
description: description
---
<div class="canvas">

	<h1>I'm an Interaction Designer and UX Consultant.<br>I love my Job because it’s about People</h1>

	<p class="description">I’m a Zurich based Interaction Designer and UX Consultant with a strong focus on conception and user-centered design. I’m experienced in Interaction Design, UX/UI Design, User Experience Design, Project Management, Team Leadership, Teamwork, Art Direction, UX Consulting, User Testing, UX Research, Prototyping and Visual Design.</p>

</div>

<div class="projects-teaser-wrapper">

	<a id="localina-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project Localina</h2>
			<p class="white">A guest management system for restaurants, consisting of an iPad app, a web application and reservation frontend.</p>
		</div>
	</a>

	<a id="abb-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project ABB</h2>
			<p class="white">Product Information Management Application to handle the complex requirements for ABB’s drive products.</p>
		</div>
	</a>

	<a id="various-teaser" href="/project-localina.html" class="project-teaser">
		<div class="teaser-text">
			<h2 class="white">Project Various</h2>
			<p class="white">A selection of various work. It includes client and private work, such as webdesign, graphic design, photography and sketches.</p>
		</div>
	</a>

</div>
