---
title: rl
description: description
---
<article class="project">
	<h1>Localina for local.ch</h1>
	<p class="description">Interaction Design, Visual Design, blah blah</p>
	<img src="/assets/images/projects/localina/localina-main.jpg" class="main-img"></img>
	<p class="lead">Localina is a reservation and guests management system for restaurants.</p>

	<div class="project-box-big">
		<h3>In a nutshell</h3>
		<img src="">
		<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
		</p>
	</div>
</article>



