---
title: rl
description: description
---
<article class="project">
	<div class="canvas">
		<h1>Localina for local.ch</h1>

		<p class="description">Interaction Design, Visual Design, blah blah</p>
	</div>

	<img src="/assets/images/projects/localina/localina-main.jpg" class="main-img"></img>

	<div class="canvas">
		<p class="lead">Localina is a reservation and guests management system for restaurants.</p>

		<h2>The Localina Ecosystem</h2>

		<div class="project-box-big">
			<img src="http://lorempixel.com/930/480">
			<h3>In a nutshell</h3>
			<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
			</p>
		</div>

		<div class="project-box-small-left">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small left</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<div class="project-box-small-right">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small right</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<h2>Design Process</h2>

		<div class="project-box-big">
			<img src="http://lorempixel.com/930/480">
			<h3>In a nutshell</h3>
			<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
			</p>
		</div>

		<div class="project-box-small-left">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small left</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<div class="project-box-small-right">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small right</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<h3>What the customers of Local.ch say</h2>
		<p class="lead">The perfect digital solution for a reservation book ... clear and simple interface ... We save a lot of time ... The app is self-explaining ... We are very happy!</p>

		<h3>The former project manager David Nydegger at Local.ch says</h2>
		<p class="lead">Working with Ramun was not just great fun but his work was always on point.</p>
	</div>


</article>



