---
title: rl
description: description
---
<article class="project">

	<div class="canvas">
		<h1>Localina for local.ch</h1>
		<p class="description">Conception, Interaction Design, Interface Design, Art Direction</p>
	</div>

	<img src="/assets/images/projects/localina/ramunliesch-localina-01.jpg" class="main-img"></img>

	<div class="canvas">
		
		<div class="quote">
			<p class="lead">Localina is a reservation and guest management system for restaurants.</p>
		</div>

		<h2>The Localina Ecosystem</h2>

		<div class="project-box-big">
			<img src="http://lorempixel.com/930/480">
			<h3>In a nutshell</h3>
			<p class="copy">The Localina ecosystem consists of three key elements: The iPad app, the web application and the reservation frontend.
			</p>
		</div>

		<div class="project-box-small-left">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>iPad App</h3>
				<p class="copy">The iPad App is the key piece. It basically replaces the paper reservation book and table plans. Further it receives reservations made via the reservation frontend and syncs to other devices and to the web application.
				</p>
			</div>
		</div>

		<div class="project-box-small-right">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Web Application</h3>
				<p class="copy">The Web Application lets a restaurant admin manage reservations and the guest database in an back office setting. It makes it easy to apply complex rules for the reservation frontend, and gives you more advanced possibilities to administrate the Localina products.
				</p>
			</div>
		</div>

		<div class="project-box-small-left">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Reservation Frontend</h3>
				<p class="copy">Guest can reserve their desired tables at a free time slot via the online reservation widget, which is available for integration in every restaurants website or on local.ch’s restaurant guide. Confirmed reservations will immediately show up in the Localina sytem.
				</p>
			</div>
		</div>

		<div class="quote">
			<p class="lead">The perfect digital solution for a reservation book ... clear and simple interface ... We save a lot of time ... The app is self-explaining ... We are very happy!</p>
			<p class="description">Customers of Local.ch about Localina</p>
		</div>

		<h2>Design Process</h2>

		<div class="project-box-big">
			<img src="http://lorempixel.com/930/480">
			<h3>In a nutshell</h3>
			<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
			</p>
		</div>

		<div class="project-box-small-left">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small left</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<div class="project-box-small-right">
			<img src="http://lorempixel.com/448/290">
			<div class="project-box-text">
				<h3>Title box small right</h3>
				<p class="copy">Lorem ipsum dolor sit amet, ex noluisse consequat vel. Vix ei meliore percipitur, semper quaeque reformidans has an, quaestio electram reprimique vim no. Et torquatos forensibus efficiantur ius. Te vis eros incorrupte.
				</p>
			</div>
		</div>

		<div class="quote">
			<p class="lead">Working with Ramun was not just great fun but his work was always on point.</p>
			<p class="description">Former project manager David Nydegger at Local.ch</p>
		</div>	

		<h2>Discover more Projects</h2>

	</div>
	
	<div class="project-teasers-wrapper">

		<a id="localina-teaser" href="/project-localina.html" class="project-teaser">
			<div class="teaser-text">
				<h2 class="white">Project Localina</h2>
				<p class="white">Description</p>
			</div>
		</a>

		<a id="abb-teaser" href="/project-localina.html" class="project-teaser">
			<div class="teaser-text">
				<h2 class="white">Project ABB</h2>
				<p class="white">Description</p>
			</div>
		</a>

		<a id="various-teaser" href="/project-localina.html" class="project-teaser">
			<div class="teaser-text">
				<h2 class="white">Project Various</h2>
				<p class="white">Description</p>
			</div>
		</a>

	</div>
</article>



