<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="{{description}}">
    <title>{{site.title}}</title>
    <link href="/assets/rl.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Merriweather:300,400&amp;subset=latin" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
  </head>
  <!--[if lte IE 8]><body class="old-ie"><![endif]-->
  <!--[if !IE]> --><body><!-- <![endif]-->
    <div id="c">
      {{> body }}
    </div>
    {{> tracking }}
  </body>
</html>
