header
	margin-left: $gutter-outside
	margin-top: $row
	padding-bottom: $row2
	margin-bottom: $row2
	+respond-to(small-up)
		margin-bottom: $row3
	+respond-to(medium-up)
		margin-bottom: $row4
	+respond-to(large-up)
		margin-bottom: $row5


	// #logo
	// 	float: left
	// 	width: $ind1

	img
		float: left
		width: 100px

	p
		float: left
		//width: $col2 + $gutter
		//background-color: magenta
		margin-left: $gutter
		margin-right: $gutter
		font-family: SourceSansPro-Semibold

	nav
		//float: left
		//display: inline
		//margin-left: $gutter
		background-color: red

	nav a
		float: left
		//display: inline
		margin-left: $gutter * 2
		font-family: "Source Sans Pro", sans-serif
		color: $font-color-secondary
		//border-bottom: 0 none
		
		&:hover
			border-bottom: 2px solid $font-color-secondary