@import "../Settings/layout"
@import "../Settings/colors"

$color-teaser1: $green
$color-teaser2: $blue
$color-teaser3: $red

.project-teaser
	display: block
	//box-sizing: border-box
	padding-bottom: 9/25 * 100%
	//border: 4px solid $color-secondary
	position: relative

	// LOCALINA

	&#localina-teaser
		background: linear-gradient(rgba($color-teaser1, 0.7), rgba($color-teaser1, 0.7)), url(/assets/images/projects/localina/localina-main.jpg)
		background-size: cover

		&:hover
			background: linear-gradient(rgba($color-teaser1, 1), rgba($color-teaser1, 0.9)), url(/assets/images/projects/localina/localina-main.jpg)
			background-size: cover

	// ABB

	&#abb-teaser
		background: linear-gradient(rgba($color-teaser2, 0.7), rgba($color-teaser2, 0.7)), url(/assets/images/projects/localina/localina-main.jpg)
		background-size: cover

		&:hover
			background: linear-gradient(rgba($color-teaser2, 1), rgba($color-teaser2, 0.9)), url(/assets/images/projects/localina/localina-main.jpg)
			background-size: cover

	// VARIOUS

	&#various-teaser
		background: linear-gradient(rgba($color-teaser3, 0.7), rgba($color-teaser3, 0.7)), url(/assets/images/projects/localina/localina-main.jpg)
		background-size: cover

		&:hover
			background: linear-gradient(rgba($color-teaser3, 1), rgba($color-teaser3, 0.9)), url(/assets/images/projects/localina/localina-main.jpg)
			background-size: cover

.teaser-text
	position: absolute
	top: $row
	left: $gutter-outside