.main-img
	margin-top: $row
	margin-bottom: $row2

.project-box-big
	margin-bottom: $row4
	+clearfix

	img
		padding: 0 $gutter/2
		margin-bottom: $row/2

	h3, p.copy
		padding: 0 $gutter/2
		+respond-to(medium-up)
			width: 8/12 * 100%
		// 	margin-left: 1/12 * 100%


%project-box-small
	margin-bottom: $row4

	img
		padding: 0 $gutter/2
	.project-box-text
		padding: 0 $gutter/2

	+respond-to(tiny-down)
		.project-box-text
			margin-top: 20px // todo fix this

	+respond-to(small-up)
		+clearfix
		img
			width: 6/12 * 100%
		.project-box-text
			width: 6/12 * 100%

	+respond-to(medium-up)
		.project-box-text
			width: 5/12 * 100%

.project-box-small-left
	@extend %project-box-small
	+respond-to(small-up)
		img
			float: left
		.project-box-text
			float: left


.project-box-small-right
	@extend %project-box-small
	+respond-to(small-up)
		img
			float: right
		.project-box-text
			float: right

