@import "../Settings/layout"

.canvas
	margin-left: $gutter-outside
	width: $canvas

.main-img
	width: 100% + (2 * $gutter-outside)
	margin-left: -$gutter-outside
	margin-top: $row
	margin-bottom: $row2

.project-box-big
	margin-bottom: $row4

	img
		margin-top: $row / 2
		margin-bottom: $row
		width: $canvas

	h3
		margin-left: $ind1

	p.copy
		margin-left: $ind1
		width: $col5

.project-box-small-left
	float: left
	display: inline
	position: relative
	margin-bottom: $row4

	img
		float: left
		display: inline
		position: relative
		width: $col6
		height: auto

	h3, p
		float: left
		margin-left: $gutter
		width: $col5

.project-box-small-right
	float: left
	display: inline
	position: relative
	margin-bottom: $row4
	margin-left: 0

	img
		float: right
		display: inline
		position: relative
		width: $col6
		height: auto
		margin-left: 0

	h3, p
		float: right
		//margin-right: $gutter
		margin-left: 0
		width: $col5








