
$base: 8px

$gutter: 3.125%
$gutter-outside: $gutter * 1.5

$col: 4.6875%
$col1: $col
$col5: (5 * $col) + (4 * $gutter)
$col6: (6 * $col) + (5 * $gutter)

$row: 4 * $base
$row2: 2 * $row
$row3: 3 * $row
$row4: 4 * $row

$canvas: (12 * $col) + (11 * $gutter)

$ind1: ($col + $gutter) * 1
$ind2: ($col + $gutter) * 2
$ind3: ($col + $gutter) * 3
$ind4: ($col + $gutter) * 4
$ind5: ($col + $gutter) * 5
$ind6: ($col + $gutter) * 6
$ind7: ($col + $gutter) * 7
$ind8: ($col + $gutter) * 8


// $screen: 1280px //@media screen not working here?

// $base: 8px

// $gutter: 4 * $base
// $gutter-outside: $gutter / 2 + $gutter

// $col-numbers: 12
// $col: (($screen - (2 * $gutter)) / $col-numbers) - $gutter
// // $col: (($screen - (4 * $gutter)) / $col-numbers) - $gutter

// $col5: (5 * $col) + (4 * $gutter)
// $col6: (6 * $col) + (5 * $gutter)
// $col1: $col + $gutter

// $canvas: $screen - (3 * $gutter)

// $row: $gutter
// $row2: 2 * $row
// $row3: 3 * $row
// $row4: 4 * $row



