// $base: 8px;

// $gutter: 4 * $base;
// $gutter-outside: $gutter / 2 + $gutter;

// $col: 20%;

// $col5: (5 * $col) + (4 * $gutter);
// $col6: (6 * $col) + (5 * $gutter);
// $col1: $col + $gutter;

// $canvas: (12 * $col) + (11 * $gutter);

$base: 8px;
$gutter: 4 * $base;
$gutter-outside: $gutter / 2 + $gutter;
$col: 8.33%;
$col1: $col;
$col5: 8.33% * 5;
$col6: 8.33% * 6;

$row: $gutter;
$row2: 2 * $row;
$row3: 3 * $row;
$row4: 4 * $row;

.canvas {
  margin: 0 $gutter-outside 0 $gutter-outside;
  //width: 100%;
}
[class*='col'] {
	float: left;
  margin-right: $gutter;
  &:last-of-type {
  	margin-right: 0;
  }
}
@mixin col1 {
	width: $col;
}
.col5 {
	width: $col * 5;
}
.col6 {
	width: $col * 6;
}

.module {
  padding: $gutter;
  background: #eee;
}

/* Opt-in outside padding */
.grid-pad {
  margin: 0 $gutter 0 $gutter;
  [class*='col']:last-of-type {
    padding-right: $gutter;
  }
}


// $screen: 1280px //@media screen not working here?

// $base: 8px

// $gutter: 4 * $base
// $gutter-outside: $gutter / 2 + $gutter

// $col-numbers: 12
// $col: (($screen - (2 * $gutter)) / $col-numbers) - $gutter
// // $col: (($screen - (4 * $gutter)) / $col-numbers) - $gutter

// $col5: (5 * $col) + (4 * $gutter)
// $col6: (6 * $col) + (5 * $gutter)
// $col1: $col + $gutter

// $canvas: $screen - (3 * $gutter)

// $row: $gutter
// $row2: 2 * $row
// $row3: 3 * $row
// $row4: 4 * $row



